
@font-face { font-family: yekan;src: url('./Font/WebYekan.woff') format("woff"), url('./Font/WebYekan.ttf') format("ttf");}

*{
  font-family:'yekan';
  padding: 0;
  margin: 0;
  direction: rtl;
  box-sizing: border-box;
  text-align: justify;
}  
p , span , a {line-height:30px;}
a{color:#111;}
a:hover{text-decoration: none; color:#111;}

input,button,select,text {width: 100%;border: none;height: 100%; padding: 5px;}
button{background-color: #ff3f68;text-align: center;color: #FFF;}
input:focus {outline: none;background-color:#f5f5f5 }
button:focus {outline: none;}
button:hover{background-color:#8e1650;}
input[type=button]:focus{background-color: #f9abbb !important;}


.App {
  text-align: center;
}

.App-logo {
  height: 12vmin;
  pointer-events: none;
}


.btn-more{
  background-color:#00bfa5;
  color: #FFF !important;
  padding: 10px;
}

.btn-Login{background-color: #e4207f;text-align: center;color: #FFF !important;padding: 8px;}
.btn-Login:hover{background-color:#8e1650;}
.filter-btn{border-radius:20px; background-color: #fddbe3 !important; color: #31020d; }
.filter-btn:hover{background-color: #f9abbb !important; -webkit-transition: all .6s; transition: all .8s;}

.services-title{
  padding: 10px 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFF;
  font-size: 2vw;
  font-weight: bold;
  width: 100%;
  -webkit-transition: all .8s;
  transition: all .8s;
  text-align: center;
}

.title{
  border-bottom:2px solid  #ff3f68;
}

.navbar{
  border-top: 1px solid #fddbe3;
  border-bottom: 1px solid #fddbe3;
  font-size: 1.18rem;
}

.curve-box{
  border-radius: 100%;
}

.text-gray{
  color: #929292;
}
.text-pink{
 color: #ff3f68;
}
.text-pink-light{
  color: #f096a5;
}

.bg-sidebar{
  background: rgb(255,63,104);
background: linear-gradient(180deg, rgba(255,63,104,1) 0%, rgba(255,63,104,1) 40%, rgba(253,219,227,1) 100%);
}

.title-nav{
  background-color: #c8c8c8;
    padding: 7px 15px;
    border-radius: 20px 0 0 20px;
    border: 1px solid #fddbe3;
}

.text-sidebar{
  color: #FFF;
  border-bottom: 2px solid rgba(255, 255, 255, 0.09);
  font-weight: bold;
  margin: 0;
  padding: 10px;
  font-size: 1.1rem;
}

.zoom{
  transition: transform .7s ease-in-out;
}
.zoom:hover{
  transform: scale(1.05);
  
}
.effect img{
filter: brightness(75%);
-webkit-transition: all .8s;
transition: all .8s;
}

.effect:hover > img{
  filter: brightness(50%)
}

.effect:hover > div.services-title{
  bottom: 30px;
}

.overflow-hidden{
  overflow: hidden;
}

/* .bg-login{
  background-image: url('Image/bg.jpg');background-size: cover;
} */



.bg-pink{
  background-color:  #ff3f68;
}
.bg-pink-light{
 background-color:  #fddbe3;
}

.bg-light-gray{
  background-color:#f9f5f7
}

.bg-mid-gray{
  background-color: #c8c8c8;
}

.box-search{
  border: 1px solid #ff3f68;
  /* max-width: 600px; */
  height: 40px;
}

.city-box > select{
 border:none;
 border-left: 1px solid #DDD;
}

select:focus , .city-box > select:focus{
  outline:none !important;
 }

.contact-box{border:2px solid #e4207f; color:  #e4207f; padding: 5px;font-weight: bold;text-align: center;border-radius: 10px; }

table thead tr{background-color:#fddbe3; }
table thead tr th{border :1px solid #ff3f68;padding: 3px 5px;}
table tbody tr td{border :1px solid #ff3f68;padding: 3px 5px;}

/* table tbody tr:nth-child(odd) {
  background: red;
} */

table tbody tr:nth-child(even) {
  background-color:#efebeb;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


